* {
    margin: 0px;
    padding: 0px;
}

/* body {
    height: 3000px;
} */

.main {
    /* border:1px solid; */
    display: flex;
    color: #aaa;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
}

.row ul {
    /* border: 1px solid; */
    gap: 10px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #aaa;
    list-style: none;
    /* border: 1px solid; */
    border-left: 1px solid #f2f2f2;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
}

.contact_detail i {
    outline: 1px;
    text-decoration: none;
}

.row_1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 400px;
    /* margin-top: -30px; */
    /* gap: 20px; */
    letter-spacing: 10px;
    list-style: none;
    color: #aaa;

    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
}

.skype {
    height: 35px;
    width: 31px;
    border: 1px solid;

}

.row_1 ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style: none;

}

.row_1 li i {
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.row .fa {
    margin-top: 12px;
    transition: 2s;
    /* transition: all 1s; */
    transform: translateX(-10px);

}

.row_1 ul li:hover {
    background: #FF432E;
    color: #f2f2f2;
    /* transform: translateX(13px); */
}

.row_1 li:hover i {
    transform: translateX(0px);
}

@media screen and (min-width:320px) and (max-width:480px) {
    .main {
        flex-direction: column;
        /* font-size: 20px; */
    }

    .row ul {
        /* font-size: 22px; */
        margin-left: 50px;


    }

    .row_1 {
        /* font-size: 22px; */
        margin-left: -10px;
        margin-top: 20px;

    }


}

/* main closed */




nav {
    /* height: 80px; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    /* margin-right: 100px; */
    /* margin-top: 300px; */

}

nav .logo {
    font-size: 50px;
    color: #FF432E;
    /* font-weight: 600; */
    font-family: "Kaushan Script";
    
}

.list {
    color: #FF432E;
}

nav ul {
    display: flex;
    list-style: none;
    z-index: 0;

}

nav ul li {
    margin: 0px 3px;

}

nav ul li a {

    color: #6b6b6b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 25px 15px 30px;
    border-radius: -5px;
    transition: all 0.3s ease;


}

nav ul li a:hover {
    color: white;
    background-color: #FF432E;
}

.active {

    color: aliceblue;
    background-color: #FF432E;
}

nav.menu-btn {
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (min-width:320px) and (max-width:480px) {

    nav {
        flex-direction: column;
        /* margin-left: -150px; */
        margin-right: 0px;
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        /* margin-left: 186px; */
}

    

    nav ul li {
        margin-top: 30px;
    }

}



/* navbar closed */

.feature {
    height: 150px;
    background-image: url(../Website/banner.jpg);
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 0px;

}

.feature h1 {
    font-size: 50px;
    margin-left: 140px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    top: 80px;
    color: #f2f2f2;

}

@media screen and (min-width:320px) and (max-width:480px) {
    .feature h1 {
        margin-left: 57px;


    }
}

/* feature CLOSED */

.contact11 h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: #111;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
    font-weight: 300;
}
.contact11 p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #111;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
    font-weight: 300;
}
.form{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: 50px;
}
.lable{
    display: block;
    /* flex-wrap: wrap; */
    text-align: center;
     height: 80px;
     margin: 20px;
     
    
}
.lable .form-control{
    height: 50px;
    width: 500px;
    border: 2px solid;
    
}
.lable_1{
    height: 60px;
    margin-top: 30px;
    

}

.lable .form-control11{
    height: 230px;
    width: 500px;
    margin-top: 30px;
    border: 2px solid;
}

.button_btn{
    margin-top: 250px;
    text-align: center;
}
.button22{
    background: #ff432e;
    border-color: #ff432e;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    color: #f2f2f2;

}
.button22:hover{
    background: #f2f2f2;
    border-color: #ff432e;
    color: #ff432e;
}



@media screen and (min-width:320px) and (max-width:480px){

.form{
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
}
.lable .form-control11{
    margin-top: 183px;
    width: 296px;

}
.lable .form-control{
    width: 293px;

}
.button_btn{
    margin-left: 0;
    margin-top: 400px;
}

}



.tweet {
    border-bottom: 1px solid #0f0f0f;
    background: #222222;
    color: #999;
    font-weight: 400;
    padding: 80px 0 60px;
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 50px;
}

.address {
    height: 254px;
    width: 264px;
    /* border: #f8f9fa solid; */
    margin-left: 50px;
}

.address h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #c5c5c5;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 300;
    ;
}

.address ul {
    margin-top: 10px;
    list-style: none;
}

.address li {
    font-size: 18px;
    margin-top: 5px;
}

.address i {
    font-size: 12px;
}

.address h6 {
    color: #FF432E;
    font-size: 15px;
    margin-top: 10px;
}

.days {
    display: flex;
    margin-left: 11px;
}

.days i {
    font-size: 30px;

}

.address p {
    height: 100px;
    width: 200px;
    /* border: yellowgreen solid; */
    font-size: 15px;
    margin-left: 40px;
    margin-top: 10px;
}

.omnis p {
    height: 70px;
    width: 220px;
    /* border: rgb(94, 19, 207) solid; */
    margin-left: 0px;
    font-size: 15px;

}

.omnis p span {
    display: block;
    font-size: 16px;
    margin-right: 50px;
}

.form-control {
    width: 250px;
    height: 34px;
    font-size: 14px;
    border: rgb(112, 78, 205) 2PX solid;
}

.button {

    width: 120px;
    height: 40px;
    /* margin-top: 10px; */
    border-radius: 7px;
    font-size: 14px;
    border: #111 2PX solid;
    background-color: #FF432E;
    color: #f8f9fa;
    margin-right: 130px;
}

.button:hover {
    background-color: #0f0f0f;
    color: #FF432E;
    border: #FF432E 2px solid;
}
.gmap {
    width: 100%;
    height: 350px;
    /* background-color: #052c3f; */
    margin-top: 40px;
}
.omnis_1 {
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    /* border: #FF432E solid; */
    margin-left: 0px;
    margin-top: 5px;

}

.omnis_1 img {
    height: 50px;
    width: 50px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .tweet{
        flex-wrap: wrap;
    }
  
}


/* .tweet closed */
