* {
    margin: 0px;
    padding: 0px;
}
/* 
.clearfix {
    height: 70px;
    width: 85%;
    display: block;
    border: solid;  
    margin-left: 100px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
} */

/* .container {
    height: 50px;
    width: 85%;
    border:1px solid;
    margin-left: 100px;
    display: flex;
    margin-top: 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%)
} */

.col-md-12 ul {
    height: 30px;
    width: 500px;
    display: flex;
    gap: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #aaa;
    list-style: none;
    /* border: 1px solid; */
    border-left: px solid #f2f2f2;


}

.col-md-12 i {
    outline: 1px;
    text-decoration: none;
}

.col-md-6 ul {
    height: 40px;
    width: 100px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 900px;
    margin-top: -30px;
    gap: 20px;
    list-style: none;
    color: #aaa;

    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;

}

.col-md-8 {
    height: 35px;
    width: 35px;
    border: 1px solid;
    /* transition: 0.3s ease-in; */


}

.fa {
    margin-top: 12px;
    /* transition: 2s; */
    transition: all 1s;
    transform: translateX(-10px);

}

.col-md-6 ul li:hover {
    background: #FF432E;
    color: #f2f2f2;
    /* transform: translateX(13px); */
}

.col-md-6 ul li:hover i{
    transform: translateX(0px);
}

@media screen and (min-width:320px) and (max-width:480px) {

    .container{

    }
    .row{
       position: relative;
        display: block;
    }
    .contact_detail{
        display: flex;
        flex-direction: column;
    }
    .social_list{
        position: absolute;
        /* top:20px; */
        /* left: 10px; */
    }
}
/* .container colsed */



nav {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    margin-right: 100px;
    /* margin-top: 300px; */
}

nav .logo {
    font-size: 50px;
    color: #FF432E;
    /* font-weight: 600; */
    font-family: "Kaushan Script";
}

.list {
    color: #FF432E;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 0px 3px;

}

nav ul li a {

    color: #6b6b6b;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 25px 15px 30px;
    border-radius: -5px;
    transition: all 0.3s ease;


}

nav ul li a:hover {
    color: white;
    background-color: #FF432E;
}

.active {

    color: aliceblue;
    background-color: #FF432E;
}

nav.menu-btn i {
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
}


/* @media screen and (min-width:320px) and (max-width:480px) {
    nav.menu-btn i {
        display: block;
        color: black;
        font-size: 20px;
        cursor: pointer;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: 0px;
        background-color: #f2f2f2;
        height: 100vh;
        width: 100%;
        display: block;
    }

    nav ul li {
        margin: 40px 0;
    }

} */

.banner .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 600px;
    border: solid;
}

.banner {
    text-align: center;
    color: #fff;
    background-image: url(../Website/banner.jpg);
    background-size: cover;

}

.overlay h1 {
    font-size: 50px;
    padding-top: 200px;
    font-weight: 700;
    letter-spacing: 9px;
    text-transform: uppercase;
    font-family: "Oswald", "sans sarif";

}

.overlay h1 span {
    color: #FF432E;
}

.overlay p {
    font-size: 30px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    margin-top: 35px;
    letter-spacing: 3px;
    margin-bottom: 60px;
}

.btn-primary {
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
    border-radius: 3px;
    width: 130px;
    background-color: #FF432E;
}

.btn-primary:hover {
    background-color: #fff;
    color: #111;
}

 /* @media screen and (min-width:320px) and (max-width:480px) { 

    .banner.overlay {
        height: 100vh;
        width: 100%;
    }

} */
/* close */
.col-md-14 {
    height: 120px;
    /* width: 750px;  */
    /* margin-left: 120px; */
    margin-top: 85px;
    align-items: center;
    padding-left: 540px;

}

.paragraph {
    height: 1000px;
    width: 90%;
    border: solid;
    margin-left: 120px;
    display: flex;

}

.row_14 {
    height: 690px;
    width: 39%;
    /* border: solid; */
    margin-left: 80px;
    margin-top: 30px;
    /* display: flex; */
    position: relative;

}

.head_text {
    height: 150px;
    width: 400px;
    background-color: white;
    margin-top: -200px;
    position: absolute;
    margin-left: 30px;

}

.head_text p {
    font-size: 18px;
    font-weight: 400;
    color: #444;
    line-height: 1.5em;
    margin-left: 10px;
    margin-top: 10px;
}

.head_text span {
    font-size: 20px;
    font-weight: 200;
    margin-left: 10px;
    margin-top: 15px;
}

.col-md-14 h2 {
    /* font-size: 50px; */
    color: #111;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
}

.text_1 {
    /* border: solid; */
    height: 190px;
    width: 520px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    line-height: 1.5em;
    margin-top: -10px;


}

.text_2 {
    /* border: solid; */
    height: 80px;
    width: 520px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    line-height: 1.5em;
    margin-top: 20px;
}

.text_3 {
    /* border: solid; */
    height: 270px;
    width: 520px;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    line-height: 1.5em;
    margin-top: 20px;

}
.text_3 h4{
    font-size: 20px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}

.text_3 ul {
    list-style: none;
    margin-left: 10px;
}

.text_3 ul li i {

    margin-right: 10px;
}


/* .banner closed */

